<header class="bg-green-900 text-white shadow-md">
  <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">
    <div>
      <h1 class="text-2xl font-bold tracking-wide">
        <a href="/">
            Programación Web
        </a>
      </h1>
      
      <p class="text-sm text-gray-300"> 
        Evaluacion Web
      </p>
    </div>
    <nav class="hidden md:flex space-x-6 text-lg font-semibold">
      <span class="hover:text-blue-400 transition">
        David Sisa
      </span>

      <span class="hover:text-blue-400 transition">
        Ciencias de la Computación
      </span>
      <a href="https://github.com/Riiiiii1/Evaluaci-n_Web_SisaDavid">
        MiGithub
      </a>
    
    </nav>
    <button [routerLink]="['/']"> HOME</button>
  </div>
</header>